.nav-bg {
  background-color: #ccb846;
}

.justify-left {
  justify-content: left !important;
}

.ul-styles {
  padding-right: 50px !important;
  text-decoration: none !important;
  font-weight: bold;
}

.active {
  color: #c23946;
}
