.image-style{
    justify-content: center !important;
    height: 50%;
    width: 50%;
}
.card{
    background-color: #e6e877;
    justify-content: center !important;
    align-items: center;
    border: 0px !important;
}